	*, ::before, ::after {
	  box-sizing: border-box;
	  margin: 0;
	  padding: 0;
	  border: none;
	  outline: none;
	  font-family: calibri, "sans serif";
	}
	:root {
	  --border-rad-sm: 1rem;
	  --border-rad-md: 50px;
	  font-size: 10px;
	  scroll-behavior: smooth;
	}
	
	::-webkit-scrollbar {
	  width: 0.9rem;
	  height: 2rem;
	}
	::-webkit-scrollbar-thumb {
	  border-radius: var(--border-rad-sm);
	  background-color: rgba(0,0,0,0.4);
	}
	::-webkit-scrollbar-track {
      border-radius: var(--border-rad-sm);
	}
	
	.webpage {
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: column;
	  min-height: 100vh;
	}
	.moveToTop {
	  position:fixed;
	  z-index: 1;
	  bottom: 9vh;
	  left: 48vw;
	}
	
	.navSection {
	  display: flex;
	  justify-content: center;
	  padding-top: 1rem;
	  padding-bottom: 1rem;
	  position: fixed;
	  z-index: 1;
	  background-color: rgba(0,0,0,0.1);
	  top: 0;
	  left: 0;
	  right: 0;
	}
	.navContainer {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  width: 100%;
	}
	.navLogo {
	  font-family: Buttermilk, "Youth Line", "Joyeux Script", Angelique, Broadley, "Hope Sans", Raksana, Monardo, cursive;
	  font-weight: bold;
	  text-decoration: none;
	  font-size: 2.6rem;
	  border: 0px solid;
	  transition: transform 0.5s ease;
	  text-shadow: 0 0 2rem #6A11CB;
	  cursor: pointer;
	}
	.dropDownMenu {
	  display: none;
	}
	.navList {
	  display: flex;
	  flex-flow: row wrap;
	  list-style-type: none;
	  margin-left: auto;
	  justify-content: end;
	  align-content: center;
	  gap: 0 0.5vw;
	} 
	.navItem {
	  font-weight: bold;
	  padding: 0.6rem 0.6rem;
	  text-decoration: none;
	  border-radius: var(--border-rad-sm);
	  font-size: 2.8rem;
	}
	
	.navLogo,.navItem:link {
	  color: Blue;
	}
	.navLogo,.navItem:visited {
	  color: Blue;
	}
	.navItem:hover {
	  color: white;
	  background-image: linear-gradient(180deg, #6A11CB 0%, #005BEA 100%);
	}
	
	.WideSection {
	  display: flex;
	  flex-wrap: wrap;
	  min-height: 100vh;
	  border: 0px solid;
	  justify-content: center;
	  align-content: center;
	  align-items: center;
	  width: 100vw;
	}
	.midContainer {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding-right: 15vw;
	    padding-left: 15vw;
		Justify-content: center;
		align-content: center;
		align-items: center;
		margin-top: auto;
		margin-bottom: auto;
	}
	.rowContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		font-size: 2.1rem;
	}
	.colContainer {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-content: center;
		font-size: 2.1rem;
		width: 100%;
		align-items: center;
	}
	.col50Container {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-content: center;
		font-size: 2.15rem;
		width: 50%;
	}
	
	.navBlankSection {
	  height: 5.6rem;
	  width: 100vw;
	}
	.firstLine {
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  display: inline-flex;
	  font-size: 4.3rem;
	  font-weight: bold;
	  border: 0px solid;
	  animation: intro 1.5s ease-out;
	}
	@keyframes intro {
	  0% {
		transform: translateX(-15rem);
		opacity: 0.5;
	  }
	}
	.typing {
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  display: inline-flex;
	  flex-wrap: wrap;
	  font-size: 4rem;
	  font-weight: bold;
	  max-width: 35rem;
	  white-space: nowrap;
	  overflow: hidden;
	  border-right: 0.4rem solid;
	  animation: typing 3s steps(12) infinite alternate, blink 0.5s step-end infinite alternate, rightSlide 1.5s ease-out 1;
	}
	@keyframes typing {
      0% {
        width: 0;
      }
	  70% {
	    width: 100%;
	  }
	  100% {
		width: 100%;
	  }
	}
	@keyframes blink {
	  50% {
	    border-color: transparent;
	  }
	}
	
	.introLine {
	  font-size: 1.8rem;
	  margin-top: 1rem;
	  font-weight: bold;
	  opacity: 0.8;
	  animation: upslide 1.5s ease-out;
	}
	@keyframes upslide {
	  0% {
		transform: translateY(5rem);
	  }
	}
	
	.buttonGroup {
	  display: flex;
	  width: 33rem;
	  height: 11.5rem;
	  flex-flow: row wrap;
	  margin: 12rem 0 6rem 0;;
	  justify-content: center;
	  align-content: center;
	  align-items: center;
	}
	.buttonGroup > button:nth-child(1) {
	  animation: leftSlide 0.5s ease-out;
	}
	.buttonGroup > button:nth-child(2) {
	  animation: rightSlide 0.5s ease-out;
	}
	.buttonGroup > button:nth-child(3) {
	  animation: leftSlide 1.5s ease-out;
	}
	.buttonGroup > button:nth-child(4) {
	  animation: rightSlide 1.5s ease-out;
	}
	@keyframes leftSlide {
	  0% {
	    transform: translateX(-5rem);
	  }
	}
	@keyframes rightSlide {
	  0% {
	    transform: translateX(5rem);
	  }
	}
	
	.image1 {
	  background-image: url("background/3.svg");
	  background-repeat: no-repeat;
	  background-size: 52rem 52rem;
	  background-position: 0 3rem;
	  background-attachment: local;
	  width: 100%;
	  height: 65rem;
	  border: 0px solid;
	  animation: rightSlide 1.5s ease-out;
	}
	
	.purpleWideSection {
	  background-image: linear-gradient(180deg, #6A11CB 0%, #005BEA 100%);
	  /*background-size: 300% 300%;
	  background-position: center;
	  animation: backgroundSlide 4s linear infinite alternate;*/
	}
	/*@keyframes backgroundSlide {
	  from {
	    background-position: top left;
	  }
	  to {
	    background-position: bottom right;
	  }
	}*/
	.image2 {
	  background-image: url("background/5.svg");
	  background-repeat: no-repeat;
	  background-size: 54rem 54rem;
	  background-position: center left;
	  background-attachment: local;
	  width: 50%;
	  height: 60rem;
	  border: 0px solid;
	}
	
	.headingContainer{
	  display: flex;
	  flex-flow: column wrap;
	  justify-content: center;
	  align-items: center;
	  margin: 6rem 0 1.5rem 0;
	}
	.head {
	  text-align: center;
	  font-size: 2.5rem;
	  font-weight: bold;
	  border: none;
	  border-radius: var(--border-rad-sm);
	  background-repeat: no-repeat;
	}
	.heading {
	  padding: 0.5rem 0 0.5rem 0.8rem;
	  border-radius: var(--border-rad-sm);
	}
	.yellowHeading {
	  color: white;
	  background-image:linear-gradient(90deg, #FFA024 0%, #FFE91C 100%);
	}
	.blueHeading {
	  color: black;
	  background-image:linear-gradient(90deg, #6A11CB 0%, #005BEA 100%);
	}
	
	.heading1 {
	  background-size: 48% 100%;
	}
	.heading1::before {
	  content: "ABO";
	  color: black;
	  padding: 0.5rem 0 0.5rem 0.8rem;
	  box-shadow:0 0 2.5rem 0 #FFA024;
	  border-radius: var(--border-rad-sm);
	}
	.para {
	  color: white;
	  margin-bottom: 4rem;
	  transition: all 0.3s ease-out;
	}
	
	.heading2 {
	  background-size: 40% 100%;
	  margin-bottom: 1rem;
	}
	.heading2::before {
	  content: "TECH";
	  color: white;
	  padding: 0.5rem 0 0.5rem 0.8rem;
	  box-shadow:0 0 2rem 0 #6A11CB;
	  border-radius: var(--border-rad-sm);
	}
	
	.techLogo {
	  width: 28rem;
	  height: 28rem;
	  margin: 2rem;
	  background-repeat: no-repeat;
	  background-size: 40% 40%;
	  background-position: center;
	  border: 0px solid;
	  border-radius: var(--border-rad-sm);
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: end;
	  transition: all 0.5s ease 0s;
	}	
	.techLogo>div {
	  margin: 1rem 0 1rem 0;
	  font-weight: bold;
	}
	.html {
	  background-image: url("logo/1.png");
	  box-shadow:0 0.6rem 1rem 0 rgb(240,101,41);
	}
	.css {
	  background-image: url("logo/2.png");
	  box-shadow:0 0.6rem 1rem 0 rgb(41,101,241);
	}
	.js {
	  background-image: url("logo/3.png");
	  box-shadow:0 0.6rem 1rem 0 rgb(240,219,70);
	}
	
	.heading3 {
	  background-size: 40% 100%;
	  margin-bottom: 1rem;
	}
	.heading3::before {
	  content: "CERT";
	  color: white;
	  padding: 0.5rem 0 0.5rem 0.8rem;
	  box-shadow:0 0 2rem 0 #6A11CB;
	  border-radius: var(--border-rad-sm);
	}
	.cert {
	  width: 50rem;
	  height: 36rem;
	  opacity: 0.7;
	  transition: all 0.5s ease 0s;
	  margin: 2rem auto 7rem auto;
	}
	
	.lastWideSection {
	  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgb(0,0,0));
	  height: 23rem;
	  display: flex;
	  flex-wrap: wrap;
	  border: 0px solid;
	  justify-content: center;
	  align-content: center;
	  color: white;
	}
	.space-betweenContainer {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  width: 100%;
	}
	.thanks {
	  font-size:2.4rem;
	  font-style: italic;
	  display: flex;
	  flex-flow: row wrap;
	  align-content: center;
	  animation: opacity 1.75s ease infinite;
	}
	@keyframes opacity {
	  50% {
		opacity: 0.3;
	  }
	}
	
	.contact {
	  display: flex;
	  flex-flow: column wrap;
	  justify-content: center;
	  min-width: 25%;
	  align-content: start;
	}
	.heading4 {
	  font-size: 2.7rem;
	  font-weight: bold;
	  background-size: 30% 100%;
	  background-repeat: no-repeat;
	  padding: 0.1rem 0 0.1rem 0.5rem;
	  border-radius: var(--border-rad-sm);
	}
	.heading4::before {
	  content: "Cont";
	  color: black;
	  padding: 0.1rem 0 0.1rem 0.5rem;
	  box-shadow:0 0 2rem 0 #FFA024;
	  border-radius: var(--border-rad-sm);
	}
	.socialMediaSection {
	  display: flex;
	  flex-flow: row wrap;
	}
	.socioLogo {
	  height: 2.3rem;
	  width: 2.3rem;
	  margin: 2rem 2rem 1.75rem 0.5rem;
	}
	.mail {
	  display: flex;
	  align-items: center;
	}
	.gmail {
	  font-size:2rem;
	  text-decoration:none;
	  color:white;
	}
	
	.lastLine {
	  font-size:2.3rem;
	  display: flex;
	  margin-top: 1rem;
	  font-weight: bold;
	}
	.chirag {
	  display: flex;
	  flex-wrap: wrap;
	  font-size:2.6rem;
	  font-weight:bold;
	  letter-spacing: 1px;
	}
	.chirag>span {
	  animation: wave 2s infinite;
	}
	.chirag>span:nth-child(1) {
	  animation-delay: 0.15s;
	}
	.chirag>span:nth-child(2) {
	  animation-delay: 0.30s;
	}
	.chirag>span:nth-child(3) {
	  animation-delay: 0.45s;
	}
	.chirag>span:nth-child(4) {
	  animation-delay: 0.60s;
	}
	.chirag>span:nth-child(5) {
	  animation-delay: 0.75s;
	}
	.chirag>span:nth-child(6) {
	  animation-delay: 0.85s;
	}
	.chirag>span:nth-child(7) {
	  animation-delay: 0.95s;
	}
	@keyframes wave {
	  50% {
		transform: translateY(-0.5rem);
	  }
	}
	
	.purpleBottomGrad {
	  background-image: linear-gradient(180deg, #6A11CB 0%, #005BEA 100%);
	}
	.purpleRightGrad {
	  background-image: linear-gradient(90deg, #6A11CB 0%, #005BEA 100%);
	}
	.yellowGrad {
	  background-image:linear-gradient(270deg, #FFA024 0%, #FFE91C 100%);
	}

	.button {
	  display: flex;
	  justify-content: center;
	  align-content: center;
	  align-items: center;
	  cursor: pointer;
	  border: none;
	  border-radius: var(--border-rad-md);
	  width: 15rem;
	  height: 4.5rem;
	  font-size: 2rem;
	  color: white;
	  margin: 0.4rem 0.4rem;
	  transition: all 0.3s ease 0s;
	}
	
	/*(our laptop=1440px)
	1. XX-Large devices (larger desktops, greater than 1400px*/
	@media screen and (min-width: 1400px) {
	  
	}
	
	/*2. X-Large devices (large desktops, less than 1400px*/
    @media screen and (max-width: 1400px) {
	  .midContainer {
		padding-right: calc(10vw);
	    padding-left: calc(10vw);
	  }
    }
	
    /*3. Large devices (desktops, less than 1200px*/
    @media screen and (max-width: 1200px) {
	  :root {
	    font-size: 8px;
	  }
	  .midContainer {
		padding-right: calc(8vw);
	    padding-left: calc(8vw);
	  }
    }
	
	@media screen and (min-width: 992px) {
	  .moveToTop:hover {
	    animation: jumping 0.4s ease infinite alternate;
	  }
	  @keyframes jumping {
	    100% {
	      transform: translateY(-0.5rem);
	    }
	  }
	  .navLogo:hover {
	    color: transparent;
	    background-image: linear-gradient(90deg, #6A11CB 0%, #005BEA 100%);
	    -webkit-background-clip: text;
	    transform: scale(1.1);
	  }
	  .image1:hover {
	    opacity: 0.8;
	  }
	  .image2:hover {
	    background-image: url("background/4.svg");
	    background-size: 55rem 55rem;
	    transform: scale(1.25);
	  }
	  .para:hover {
	    transform: scale(1.1);
	  }
	  .techLogo:hover {
	    transform: scale(1.05);
	  }
	  .html:hover {
	    box-shadow:0 1.5rem 3rem 0 rgb(240,101,41);
	  }
	  .css:hover {
	    box-shadow:0 1.5rem 3rem 0 rgb(41,101,241);
	  }
	  .js:hover {
	    box-shadow:0 1.5rem 3rem 0 rgb(240,219,70);
	  }
	  .cert:hover {
	    opacity: 1;
	    box-shadow:0 0 2.5rem 0 #6A11CB;
	    transform: scale(1.1);
	  }
	  .socioLogo:hover {
	    animation: jumping 0.4s ease infinite alternate;
	  }
	  @keyframes jumping {
	    100% {
	      transform: translateY(-0.5rem);
	    }
	  }
	  
	  .mail:hover {
	    opacity: 0.8;
	  }
	  .button:hover {
	    background-image:linear-gradient(180deg, #FFA024 0%, #FFE91C 100%);
	    color: black;
	    font-weight: bold;
	    box-shadow:0 0 2rem 0 #FFA024;
	    transform: scale(1.05)
	  }
	}
	
	/*4. Medium devices (tablets, less than 992px*/
    @media screen and (max-width: 992px) {
	}
	
	/*5. Small devices (landscape phones, less than 768px*/
    @media screen and (max-width: 768px) {
	  :root {
	    font-size: 8px;
	  }
	  .image1,.image2 {
		display: none;
	  }
	  .moveToTop {
	    bottom: 6vh;
	  }
	  
	  .WideSection {
	    min-height: 70vh;
	  }
	  .midContainer {
		padding-right: 10vw;
	    padding-left: 10vw;
	  }
	  .col50Container {
		width: 100%;
	  }
	  
	  .navLogo {
		font-size: 3rem;
	  }
	  .menuButton {
	    display: flex;
	    flex-flow: column wrap;
	    justify-content: space-evenly;
		border: 0px solid black;
	    height: 3.75rem;
	    width: 3.125rem;
		cursor: pointer;
	  }
	  .bar {
	    width: 100%;
	    height: 0.5rem;
	  }
	  
	  .navList {
		display: none;
	  }
	  .dropDownMenu {
		position: fixed;
		z-index: 2;
		width: 100vw;
		height: 100vh;
		bottom: 0;
		left: 0;
		right: 0;
		transform: translateY(-100vh);
		display: flex;
	    flex-flow: column wrap;
	    justify-content: center;
		align-content: center;
		transition: transform 0.5s ease;
		background-color: white;
	  }
	  .dropDownList {
		display: flex;
	    list-style-type: none;
		flex-flow: column wrap;
	    justify-content: space-evenly;
		align-content: center;
		height: 40%;
	  }
	  .menuItem {
	    padding: 0;
	    border-radius: 0;
	    font-size: 4.5rem;
		font-weight: bold;
	    text-decoration: none;
	    animation: downSlide 0.5s ease;
	  }
	  @keyframes downSlide {
		0% {
		  transform: translateY(-3.75rem);
		}
	  }
	  .dropDownList>nth-child(1) {
		animation-delay: 0.3s;
	  }
	  .dropDownList>nth-child(2) {
		animation-delay: 0.2s;
	  }
	  .dropDownList>nth-child(3) {
		animation-delay: 0.1s;
	  }
	  
	  .dropDownList>li {
		text-align: center;
	  }
	  .menuItem:link {
	    color: Blue;
	  }
	  .menuItem:visited {
	    color: Blue;
	  }
	  .menuItem:active {
	    color: white;
	  }
	  
	  .closeButton {
		position: absolute;
		top: 10rem;
		right: 3rem;
		display: flex;
	    flex-flow: column wrap;
		justify-content: center;
	    border: 0px solid black;
	    height: 3.125rem;
	    width: 3.125rem;
		cursor: pointer;
	  }
	  .closeBar {
		position: absolute;
	    display: inline-block;
	    width: 100%;
	    height: 0.5rem;
	  }
	  .closeBar1 {
		z-index: 3;
		transform: rotate(45deg);
	  }
	  .closeBar2 {
		z-index: 4;
		transform: rotate(-45deg);
	  }
	  
	  .buttonGroup {
		width: 100%;
		margin: 16rem 0 9rem 0;
	  }
	  
	  .navBlankSection {
	    height: 5rem;
		width: 100%
	  }
	  
	  .firstLine {
		margin-top: 14rem;
	  }
	  .typing {
		max-width: 35rem;
		margin-top: 0.5rem;
	  }
	  .introLine {
	    font-weight: normal;
		margin-top: 1.5rem;
		opacity: 1;
	  }
	  
	  .techLogo {
	    width: 18rem;
	    height: 20rem;
		margin: 1rem;
		background-size: 55% 55%;
		background-position: 50% 3rem;
	  }
	  .techLogo>div {
	  margin: 1rem 0 1rem 0;
	    font-weight: bold;
	  }
	  
	  .cert {
	    width: 80%;
	    height: 58%;
		margin: 0 auto 5rem auto;
		opacity: 1;
	  }
	  
	  .lastWideSection {
	    height: 30rem;
	  }
	  .thanks {
	    font-size:2.2rem;
		margin-top: 1.5rem;
		margin-bottom: 4rem;
	  }
	  
	  .contact {
		margin-bottom: 1rem;
	  }
	  .heading4 {
		font-size: 2.3rem;
	    background-size: 28% 100%;
	    padding: 0.1rem 0 0.1rem 0.5rem;
	  }
	  .heading4::before {
	    padding: 0.1rem 0 0.1rem 0.5rem;
	  }
	  .socioLogo {
	    height: 2.1rem;
	    width: 2.1rem;
	    margin: 2rem 2rem 2rem 0.5rem;
	  }
	  .gmail {
	    font-size:1.8rem;
	  }
	  .lastLine {
		font-weight: bold;
		font-size:2.3rem;
		display: flex;
		margin-top: 4rem;
	  }
	  .chirag {
	    font-size:2.8rem;
	  }
	  
	  .button {
	    width: 17rem;
	    height: 5rem;
	  }
	}
	
	/*(our phone=345px)
	6. X-Small devices (portrait phones, less than 576px)*/
	@media screen and (max-width: 576px) {
	  .midContainer {
		padding-right: 6vw;
	    padding-left: 6vw;
	  }
	  .cert {
	    width: 90%;
	    height: 64.8%;
		margin: 0 auto 5rem auto;
		opacity: 1;
	  }
	}
	
	@media screen and (max-width: 350px) {
	  .firstLine {
		font-size: 3.8rem;
	  }
	  .typing {
		font-size: 3.7rem;
	    max-width: 35rem;
	  }
	}