@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.button, .home .introduction .buttonGroup, .footer .footer-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.headingContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

:root {
  font-size: 20px;
}

*, body, ::before, ::after {
  box-sizing: border-box;
  font-family: "Segoe UI", "Open Sans", calibri, sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  overflow-x: hidden;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

::-moz-selection {
  background-color: #ffd500;
  color: black;
}

::selection {
  background-color: #ffd500;
  color: black;
}

/*Scrollbar Customization*/
::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-image: linear-gradient(180deg, #6A11CB 0%, #005BEA 100%);
}
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(180deg, #FFE91C 0%, #FFA024 100%);
}
::-webkit-scrollbar-track {
  background-color: white;
}

/*Custom CSS*/
section {
  padding: 3rem 0;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 2.5rem;
  width: 9rem;
  height: 2.5rem;
  font-size: 1.1rem;
  text-align: center;
  color: white;
  margin: 0.2rem 0.2rem;
  transition: all 0.3s ease 0s;
  background-image: linear-gradient(180deg, #6A11CB 0%, #005BEA 100%);
}

@keyframes typing {
  0% {
    width: 0;
  }
  70% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes up-slide {
  0% {
    transform: translateY(5rem);
  }
}
@keyframes down-slide {
  0% {
    transform: translateY(-5rem);
  }
}
@keyframes right-slide {
  0% {
    transform: translateX(-5rem);
  }
}
@keyframes left-slide {
  0% {
    transform: translateX(5rem);
  }
}
@keyframes backgroundSlide {
  0% {
    background-position: top left;
  }
  100% {
    background-position: bottom right;
  }
}
@keyframes opacity {
  50% {
    opacity: 0.3;
  }
}
@keyframes wave {
  50% {
    transform: translateY(-0.25rem);
  }
}
@keyframes jumping {
  100% {
    transform: translateY(-0.5rem);
  }
}
/*Animated Gradient Section Classes*/
.purpleWideSection {
  background-image: linear-gradient(180deg, #b700ff 0%, #7b00ff 50%, #0088ff 100%);
  background-size: 300% 300%;
  background-position: center;
  animation: backgroundSlide 4s ease-in-out infinite alternate;
}

.blackWideSection {
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%);
  background-size: 300% 300%;
  background-position: center;
  animation: backgroundSlide 4s ease-in-out infinite alternate;
}

/*Heading Classes*/
.headingContainer {
  margin-bottom: 0.75rem;
}

.head {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  background-repeat: no-repeat;
}

.yellowHeading {
  color: white;
  background-image: linear-gradient(90deg, #FFE91C 0%, #FFA024 100%);
}

.blueHeading {
  color: black;
  background-image: linear-gradient(90deg, #6A11CB 0%, #005BEA 100%);
}

/*Navigation*/
.navbar {
  padding: 0;
}
.navbar .navbar-brand .navLogo {
  font-family: "Dancing Script", pacifico, cursive;
  font-weight: bold;
  font-size: 1.8rem;
  color: blue;
  transition: transform 0.5s ease;
  text-shadow: 0 0 1rem #6A11CB;
  cursor: pointer;
  padding: 0;
}
.navbar .navbar-nav .nav-item {
  padding: 0;
  margin: 0 0.25rem;
}
.navbar .navbar-nav .nav-item .nav-link {
  border-radius: 0.5rem;
  color: blue;
  padding: 0.2rem 0.65rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link.active {
  color: white;
  font-weight: bold;
  background-image: linear-gradient(180deg, #6A11CB 0%, #005BEA 100%);
}

/*Home*/
.home {
  margin-top: 3.3rem;
  height: 48rem;
}
.home .introduction {
  top: 8rem;
}
.home .introduction .firstLine {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #6A11CB 0%, #005BEA 100%);
  font-weight: bold;
  display: inline-flex;
  font-size: 2.25rem;
  animation: right-slide 1.5s ease-out;
}
.home .introduction .typing {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 14rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #FFE91C 0%, #FFA024 100%);
  border-right: 0.2rem solid;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2rem;
  font-weight: bold;
  animation: typing 3s steps(12) infinite alternate, blink 0.5s step-end infinite alternate, left-slide 1.5s ease-out 1;
}
.home .introduction .introLine {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  animation: up-slide 1.5s ease-out;
}
.home .introduction .buttonGroup {
  width: 20rem;
  height: 6rem;
  margin-top: 6rem;
  animation: down-slide 1.5s ease-out;
}
.home .image1 {
  background-image: url("../images/background/1.svg");
  background-repeat: no-repeat;
  background-position: -10% 35%;
  background-attachment: local;
  height: 100%;
  animation: left-slide 1.5s ease-out;
}
.home .image1:hover {
  opacity: 0.5;
}

/*About*/
.about {
  padding-bottom: 5rem;
  height: 50rem;
}
.about .heading1 {
  background-size: 47% 100%;
}
.about .heading1::before {
  content: "ABO";
  color: black;
  padding-left: 0.8rem;
  box-shadow: 0 0 2.5rem 0 #FFA024;
  border-radius: 0.5rem;
  font-weight: bold;
}
.about .para {
  color: white;
  margin-bottom: 3rem;
  font-size: 1.15rem;
  transition: all 0.3s ease-in-out;
}
.about .image2 {
  background-image: url("../images/background/2.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-attachment: local;
}

/*Technologies*/
.technologies .heading2 {
  background-size: 39% 100%;
  margin-bottom: 0.4rem;
}
.technologies .heading2::before {
  content: "TECH";
  color: white;
  padding-left: 0.8rem;
  box-shadow: 0 0 2rem 0 #6A11CB;
  border-radius: 0.5rem;
  font-weight: bold;
}
.technologies .heading2 + span {
  font-size: 1.15rem;
}
.technologies .techLogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  width: 14rem;
  height: 14rem;
  background-repeat: no-repeat;
  background-size: 40% 40%;
  background-position: center;
  border-radius: 0.5rem;
  transition: all 0.5s ease 0s;
}
.technologies .techLogo > div {
  margin: 1rem 0 1rem 0;
  font-weight: bold;
}
.technologies .html {
  background-image: url("../images/logo/1.png");
  box-shadow: 0 0.6rem 1rem 0 rgb(240, 101, 41);
}
.technologies .css {
  background-image: url("../images/logo/2.png");
  box-shadow: 0 0.6rem 1rem 0 rgb(41, 101, 241);
}
.technologies .sass {
  background-image: url("../images/logo/3.png");
  box-shadow: 0 0.6rem 1rem 0 rgb(211, 96, 231);
}
.technologies .bs {
  background-image: url("../images/logo/4.png");
  box-shadow: 0 0.6rem 1rem 0 rgb(128, 78, 227);
}
.technologies .js {
  background-image: url("../images/logo/5.png");
  box-shadow: 0 0.6rem 1rem 0 rgb(240, 219, 70);
}

/*Certifications*/
.certifications {
  padding-bottom: 7rem;
}
.certifications .heading3 {
  background-size: 38% 100%;
  margin-bottom: 1rem;
}
.certifications .heading3::before {
  content: "CERT";
  color: black;
  font-weight: bold;
  padding-left: 0.8rem;
  box-shadow: 0 0 2.5rem 0 #FFA024;
  border-radius: 0.5rem;
}
.certifications .cert {
  margin-top: 2rem;
}

/*Projects*/
.projects {
  height: 48rem;
}
.projects .heading4 {
  background-size: 55% 100%;
  margin-bottom: 1rem;
}
.projects .heading4::before {
  content: "PRO";
  color: white;
  font-weight: bold;
  padding-left: 0.8rem;
  box-shadow: 0 0 2rem 0 #6A11CB;
  border-radius: 0.5rem;
}
.projects .heading4 .card .card-body .card-title {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #6A11CB 0%, #005BEA 100%);
  font-weight: bold;
}

/*Footer(Contact)*/
.footer {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgb(0, 0, 0));
  padding: 0;
  color: white;
  margin-bottom: -2rem;
}
.footer .footer-1 .thanks {
  font-family: pacifico, "Dancing Script", cursive;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  animation: opacity 1.75s ease infinite;
}
.footer .footer-1 .contact-details {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: start;
  min-width: 25%;
}
.footer .footer-1 .contact-details .heading5 {
  font-size: 1.35rem;
  font-weight: bold;
  background-size: 32% 100%;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}
.footer .footer-1 .contact-details .heading5::before {
  content: "Cont";
  color: black;
  font-weight: bold;
  padding-left: 0.8rem;
  box-shadow: 0 0 2.5rem 0 #FFA024;
  border-radius: 0.5rem;
}
.footer .footer-1 .contact-details .socialMediaSection .socioLogo {
  height: 1.4rem;
  width: 1.4rem;
  margin: 1rem 1rem 1.5rem 0.25rem;
}
.footer .footer-2 {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
.footer .footer-2 .chirag {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.45rem;
  letter-spacing: 0.5px;
}
.footer .footer-2 .chirag > span {
  animation: wave 2s infinite;
}
.footer .footer-2 .chirag > span:nth-child(1) {
  animation-delay: 0.15s;
}
.footer .footer-2 .chirag > span:nth-child(2) {
  animation-delay: 0.3s;
}
.footer .footer-2 .chirag > span:nth-child(3) {
  animation-delay: 0.45s;
}
.footer .footer-2 .chirag > span:nth-child(4) {
  animation-delay: 0.6s;
}
.footer .footer-2 .chirag > span:nth-child(5) {
  animation-delay: 0.75s;
}
.footer .footer-2 .chirag > span:nth-child(6) {
  animation-delay: 0.85s;
}
.footer .footer-2 .chirag > span:nth-child(7) {
  animation-delay: 0.95s;
}

/*Scroll-to-top*/
.scroll-to-top {
  position: fixed;
  z-index: 1;
  bottom: 9vh;
  left: 48vw;
}
.scroll-to-top img {
  height: 1.75rem;
  width: 1.75rem;
}

/*Breakpoint Size (Responsive)*/
#breakpoint::before {
  font-size: 1rem;
  position: fixed;
  z-index: 1000;
  bottom: 0vh;
  right: 0vw;
}

/*0. Large + X-large + XX-large devices & above (greater than 992px)*/
@media screen and (min-width: 992px) {
  .button:hover {
    background-image: linear-gradient(90deg, #FFE91C 0%, #FFA024 100%);
    color: black;
    font-weight: bold;
    box-shadow: 0 0 2rem 0 #FFA024;
    transform: scale(1.05);
  }
  .scroll-to-top:hover {
    animation: jumping 0.4s ease infinite alternate;
  }
  /*Navigation*/
  .navLogo:hover {
    color: transparent;
    background-image: linear-gradient(90deg, #6A11CB 0%, #005BEA 100%);
    -webkit-background-clip: text;
    background-clip: text;
    transform: scale(1.1);
  }
  /*About*/
  .image2:hover {
    background-image: url("../images/background/3.svg");
  }
  .para:hover {
    transform: scale(1.1);
  }
  /*Technologies*/
  .technologies .techLogo {
    margin: 3rem auto;
  }
  .technologies .techLogo:hover {
    transform: scale(1.05);
  }
  .technologies .html:hover {
    box-shadow: 0 1.5rem 3rem 0 rgb(240, 101, 41);
  }
  .technologies .css:hover {
    box-shadow: 0 1.5rem 3rem 0 rgb(41, 101, 241);
  }
  .technologies .sass:hover {
    box-shadow: 0 1.5rem 3rem 0 rgb(211, 96, 231);
  }
  .technologies .bs:hover {
    box-shadow: 0 1.5rem 3rem 0 rgb(128, 78, 227);
  }
  .technologies .js:hover {
    box-shadow: 0 1.5rem 3rem 0 rgb(240, 219, 70);
  }
  /*Certifications*/
  .certifications .cert {
    opacity: 0.5;
    transition: all 0.5s ease-in-out 0s;
  }
  .certifications .cert:hover {
    opacity: 1;
    box-shadow: 0 0 2rem 0 rgb(255, 255, 255);
    transform: scale(1.1);
  }
  /*Projects*/
  .projects .card {
    transition: all 0.6s ease-out 0s;
  }
  .projects .card:hover {
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
  }
  .projects .card .card-img-top {
    opacity: 0.7;
    transition: all 0.6s ease-out 0s;
  }
  .projects .card .card-img-top:hover {
    opacity: 1;
  }
  /*Footer*/
  .socioLogo:hover {
    animation: jumping 0.4s ease infinite alternate;
  }
  .mail:hover {
    opacity: 0.8;
  }
}
/*(our laptop=1440px)
1. XX-Large devices & above (larger desktops, greater than 1400px)*/
@media screen and (min-width: 1400px) {
  #breakpoint::before {
    content: ">1400px(xxl)";
    color: orange;
  }
}
/*2. X-Large devices & below (large desktops, less than 1400px)*/
@media screen and (max-width: 1400px) {
  #breakpoint::before {
    content: "<1400px(xl)";
    border: 1px solid;
    color: orange;
  }
  /*Technologies*/
  .technologies .techLogo {
    margin: 2rem auto;
  }
}
/*3. Large devices & below (desktops, less than 1200px)*/
@media screen and (max-width: 1200px) {
  #breakpoint::before {
    content: "<1200px(lg)";
  }
  :root {
    font-size: 18px;
  }
}
/*4. Medium devices & below (tablets, less than 992px)*/
@media screen and (max-width: 992px) {
  #breakpoint::before {
    content: "<992px(md)";
  }
  .button:active {
    background-image: linear-gradient(90deg, #FFE91C 0%, #FFA024 100%);
    color: black;
    font-weight: bold;
    box-shadow: 0 0 2rem 0 #FFA024;
    transform: scale(1.05);
  }
  /*Navigation*/
  .header .navbar-nav {
    display: none;
  }
  .header .menuButton {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
  }
  .header .menuButton:hover .bar {
    background-image: unset;
    background-color: black;
  }
  .header .menuButton .bar {
    width: 80%;
    height: 0.35rem;
    background-image: linear-gradient(90deg, #6A11CB 0%, #005BEA 100%);
  }
  .header .closeButton {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  .header .closeButton:hover .closeBar {
    background-image: unset;
    background-color: black;
  }
  .header .closeButton .closeBar {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 0.2rem;
    color: transparent;
    background-image: linear-gradient(90deg, #6A11CB 0%, #005BEA 100%);
  }
  .header .closeButton .closeBar1 {
    z-index: 3;
    transform: rotate(45deg);
  }
  .header .closeButton .closeBar2 {
    z-index: 4;
    transform: rotate(-45deg);
  }
  .header .dropDownMenu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-100vh);
    transition: transform 0.5s ease;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .header .dropDownMenu .dropDownList {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
    list-style-type: none;
    height: 60%;
    margin: 0;
    padding: 0;
  }
  .header .dropDownMenu .dropDownList li {
    text-align: center;
  }
  .header .dropDownMenu .dropDownList li .menuItem {
    font-size: 2.3rem;
    text-decoration: none;
  }
  .header .dropDownMenu .dropDownList li .menuItem:link {
    color: Blue;
  }
  .header .dropDownMenu .dropDownList li .menuItem:visited {
    color: Blue;
  }
  .header .dropDownMenu .dropDownList li .menuItem:hover {
    color: black;
  }
  .header .dropDownMenu .dropDownList li .menuItem:active {
    color: white;
  }
  /*Home*/
  .home .introduction {
    text-align: center;
  }
  .home .introduction .buttonGroup {
    width: 100%;
    margin-top: 7rem;
  }
  /*Certifications*/
  .cert {
    width: 100%;
  }
  /*Footer*/
  .footer > div {
    padding: 2rem 3rem 1rem;
  }
  .footer .footer-1 {
    flex-direction: column;
  }
  .footer .footer-1 .thanks {
    text-align: center;
  }
}
/*5. Small devices & below (landscape phones, less than 768px)*/
@media screen and (max-width: 768px) {
  #breakpoint::before {
    content: "<768px(sm)";
  }
  .scroll-to-top {
    bottom: 6vh;
  }
  /*Technologies*/
  .techLogo {
    margin: 1rem auto;
  }
  .techLogo > div {
    margin: 1rem 0 1rem 0;
  }
  /*Footer*/
  .footer > div {
    padding: 2rem 2rem 1rem;
  }
  .footer .footer-1 .thanks {
    font-size: 1.3rem;
  }
}
/*6. X-Small devices & below (portrait phones, less than 576px)*/
@media screen and (max-width: 576px) {
  #breakpoint::before {
    content: "<576px(xs)";
  }
  :root {
    font-size: 16px;
  }
  /*Navigation*/
  .header .dropDownMenu .dropDownList li .menuItem {
    font-size: 2rem;
  }
  /*Technologies*/
  .technologies .techLogo {
    width: 10.5rem;
    height: 10.5rem;
    background-size: 55% 55%;
  }
  .technologies .techLogo > div {
    margin-bottom: 0.5rem;
  }
  /*Projects*/
  .projects {
    height: 40rem;
  }
}
/*8. X-Small devices & below (phones, less than 400px)*/
@media screen and (max-width: 400px) {
  #breakpoint::before {
    content: "<400px(xxs)";
  }
  :root {
    font-size: 15px;
    line-height: 1.5rem;
  }
  /*Navigation*/
  .header .menuButton {
    height: 2rem;
    width: 2rem;
    margin-right: 0.25rem;
  }
  .header .menuButton .bar {
    height: 0.3rem;
  }
  .header .closeButton {
    top: 0.5rem;
    right: 0.5rem;
  }
  /*Home*/
  .home {
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh;
  }
  .home .introduction .buttonGroup {
    margin-top: 4rem;
  }
  /*About*/
  .about {
    padding-top: 5rem;
  }
  .about .para {
    margin-bottom: 2rem;
    font-size: 1.15rem;
  }
  /*Technologies*/
  .technologies .techLogo {
    width: 8rem;
    height: 8rem;
  }
  .technologies .techLogo > div {
    margin-bottom: 0.25rem;
  }
  /*Footer*/
  .footer > div {
    padding: 1.3rem 1rem 1rem;
  }
  .footer .footer-1 .thanks {
    font-size: 1.25rem;
  }
  .footer .footer-2 {
    font-size: 1.2rem;
    margin-top: 0.75rem;
  }
  /*Projects*/
  .projects {
    height: 30rem;
  }
}
/*(our phone = 345px*628px)*/
@media screen and (max-width: 345px) {
  #breakpoint::before {
    content: "<345px(xxs)";
  }
}
/*Perfect till 338px Viewport width*//*# sourceMappingURL=responsive.css.map */